.husky
.vscode
# assembly
assembly/.eslintrc.cjs
# bin
coverage
coverage-ts
# dist
node_modules
tests-as
tests-ts
# transform
.eslintrc.cjs
.gitignore
.prettierignore
.prettierrc.js
conventional-changelog.config.js
jenkinsfile
jest.config.ts
package-lock.json
webpack.config.js